.productPage {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  gap: 10px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 60px;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .productPage {
    margin-top: 10px;
  }
}