.checkout {
  margin: 20px;
  display: flex;
  /* flex-direction: column; */
  margin-top: 80px;
  margin-bottom: 60px;
}
.left {
  flex: 1;
}
.heading-div {
  display: flex;
  /* border: 1px solid blue; */
  background-color: white;
  /* margin: 20px; */
  margin-bottom: 2px;
  /* padding: 20px; */
  position: relative;
  flex: 1;
}
.heading-div a {
  color: rgb(0, 113, 133);
  text-decoration: none;
  margin-left: 20px;
}
.heading-div p {
  margin: 20px;
  margin-top: 0;
}
.heading-div a:hover {
  color: rgb(199, 81, 31);
  text-decoration: underline;
}
.heading {
  margin: 20px;
  margin-bottom: 0;
  font-weight: 400;
  background-color: white;
}
.heading-div > span {
  /* border: 1px solid blue; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 20px;
  bottom: 2px;
}

.subtotal-bottom-div {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding-right: 20px;
  height: 70px;
}

.right {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-color: white;
  width: 290px;
  /* height: 100px; */
  height: 100%;
  padding: 20px;
  /* margin: auto; */
  margin-left: 20px;
  justify-content: space-between;
  /* text-align: center; */
}
.subtotal {
  font-weight: 500;
}
.proceed {
  margin: 10px 0;
  background-color: rgb(255, 216, 20);
  padding: 6px 0px;
  border-radius: 8px;
}
.proceed:hover {
  background-color: rgb(247, 202, 0);
}

/* RESPONSIVE CODE */

@media only screen and (max-width: 1070px) {
  /* .proceed {
    background-color: blue;
  } */
  .right {
    width: 300px;
    height: 100%;
  }
}
@media only screen and (max-width: 995px) {
  /* .proceed {
    background-color: red;
  } */
  .right {
    width: 300px;
    /* height: 140px; */
    padding: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .checkout {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .right {
    padding: 20px;
    margin-left: 0px;
    margin-bottom: 4px;
    width: auto;
    /* height: 100%; */
  }
}
@media only screen and (max-width: 480px) {
  .checkout {
    margin: 10px;
    margin-top: 70px;
    margin-bottom: 60px;
  }
}
