.home_bg {
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 0.8),
    rgb(0, 0, 0, 0)
  );
  position: relative;
  z-index: -1;
  /* margin-bottom: -280px; */
}
.homerow {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* padding: 5px; */
  justify-content: space-around;
  /* flex-direction: row; */
  /* z-index: 15; */
  /* margin: 0px 5px; */
}
.home {
  margin: 0;
  /* padding: 0; */
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 51px;
  margin-bottom: 40px;
}
.innerwidth {
  position: absolute;
  top: 130px;
  left: 0;
  z-index: 10000;
  font-size: 8px;
  color: rgb(220, 220, 220);
}

@media screen and (max-width: 740px) {
  .home_bg {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 480px) {
  .home {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .home_bg {
    margin-top: 62px;
    margin-bottom: -50px;
  }
}
